[manifest]
version = "1.0.0"
dump_lua = true
priority = -1
# patch for ltm packs and regular packs
[[patches]]
[patches.pattern]
target = 'card.lua'
match_indent = true
position = 'after'
pattern = '''
booster_obj = self.config.center
'''
payload = '''
if self.config.center and self.config.center.key == 'p_fn_LTMBooster1' or self.config.center and self.config.center.key == 'p_fn_LTMBooster2' then
    self.ability.extra = self.ability.extra + G.GAME.ltm_choices
	G.GAME.LTM_Pack = 1
	G.GAME.LTM_Packs_Opened = (G.GAME.LTM_Packs_Opened or 0) + 1
end
if self.config.center and self.config.center.key ~= 'p_fn_LTMBooster1' and self.config.center.key ~= 'p_fn_LTMBooster2' then
	G.GAME.LTM_Pack = 0
end
--count the music for daniel while you're here
if self.config.center and self.config.center.key ~= 'p_fn_LTMBooster1' and self.config.center.key ~= 'p_fn_LTMBooster2' and self.config.center.key ~= 'p_fn_AugmentBooster1' and self.config.center.key ~= 'p_fn_AugmentBooster2' and self.config.center.key ~= 'p_yahimod_booster_yahiworld' and self.config.center.key ~= 'p_yahimod_booster_yahiworld2' and self.config.center.key ~= 'p_yahimod_booster_yahiworld3' and self.config.center.key ~= 'p_yahimod_booster_yahiworld4' and self.config.center.key ~= 'p_cry_code_normal_1' and self.config.center.key ~= 'p_cry_code_normal_2' and self.config.center.key ~= 'p_cry_code_jumbo_1' and self.config.center.key ~= 'p_cry_code_mega_1' and self.config.center.key ~= 'p_paperback_minor_arcana_normal_1' and self.config.center.key ~= 'p_paperback_minor_arcana_normal_2' and self.config.center.key ~= 'p_paperback_minor_arcana_normal_3' and self.config.center.key ~= 'p_paperback_minor_arcana_jumbo' and self.config.center.key ~= 'p_paperback_minor_arcana_mega' then
	if not next(SMODS.find_card("j_fn_Gyatt")) then
		G.GAME.music_changes = (G.GAME.music_changes or 0) + 1
	end
end
'''
