[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

# Fortlatro Squad Ascension patches
[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = '''
{n=G.UIT.O, config={id = 'hand_name', func = 'hand_text_UI_set',object = DynaText({string = {{ref_table = G.GAME.current_round.current_hand, ref_value = "handname_text"}}, colours = {G.C.UI.TEXT_LIGHT}, shadow = true, float = true, scale = scale*1.4})}},
'''
position = "after"
payload = '''
{n=G.UIT.O, config={id = 'fn_asc', func = 'fn_asc_UI_set',object = DynaText({string = {{ref_table = G.GAME.current_round.current_hand, ref_value = "fn_asc_num_text"}}, colours = {G.C.PURPLE}, shadow = true, float = true, scale = scale*1})}} ,
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
                delay = G.GAME.current_round.current_hand.handname ~= disp_text and 0.4 or 0}, {handname=disp_text, level=G.GAME.hands[text].level, mult = G.GAME.hands[text].mult, chips = G.GAME.hands[text].chips})
'''
position = "at"
payload = '''
                delay = G.GAME.current_round.current_hand.handname ~= disp_text and 0.4 or 0}, {handname=disp_text, level=G.GAME.hands[text].level, mult = Fortlatro.get_ascended_value(G.GAME.hands[text].mult, "mult"), chips = Fortlatro.get_ascended_value(G.GAME.hands[text].chips, "chips")})
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.GAME.hands[text].played_this_round = G.GAME.hands[text].played_this_round + 1
'''
position = "before"
payload = '''
local hand = G.GAME.current_round.current_hand
if hand and (hand.fn_asc_num or 0) > 0 then
    G.GAME.fn_asc_played = G.GAME.fn_asc_played and G.GAME.fn_asc_played+1 or 1
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
        mult = mod_mult(G.GAME.hands[text].mult)
'''
position = "at"
payload = '''
        mult = mod_mult(Fortlatro.get_ascended_value(G.GAME.hands[text].mult, "mult"))
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
        hand_chips = mod_chips(G.GAME.hands[text].chips)
'''
position = "at"
payload = '''
        hand_chips = mod_chips(Fortlatro.get_ascended_value(G.GAME.hands[text].chips, "chips"))
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
        update_hand_text({delay = 0}, {chips = G.GAME.hands[hand].chips, StatusText = true})
'''
position = "at"
payload = '''
        update_hand_text({delay = 0}, {chips = Fortlatro.get_ascended_value(G.GAME.hands[hand].chips, "chips"), StatusText = true})
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
        update_hand_text({delay = 0}, {mult = G.GAME.hands[hand].mult, StatusText = true})
'''
position = "at"
payload = '''
        update_hand_text({delay = 0}, {mult = Fortlatro.get_ascended_value(G.GAME.hands[hand].mult, "mult"), StatusText = true})
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
                chip_total_text = '',
'''
position = "after"
payload = '''
                fn_asc_num = 0,
                fn_asc_num_text = '',
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "cardarea.lua"
pattern = '''
update_hand_text({immediate = true, nopulse = nil, delay = 0}, {handname=disp_text, level=G.GAME.hands[text].level, mult = G.GAME.hands[text].mult, chips = G.GAME.hands[text].chips})
'''
position = "at"
payload = '''
update_hand_text({immediate = true, nopulse = nil, delay = 0}, {handname=disp_text, level=G.GAME.hands[text].level, mult = Fortlatro.get_ascended_value(G.GAME.hands[text].mult, "mult"), chips = Fortlatro.get_ascended_value(G.GAME.hands[text].chips, "chips")})
'''
match_indent = true
